<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
    <header class="top_bar">
    <img src="images.png" alt="logo" >
    <h1>Sample Bank </h1>
    <a href="aboutus.html"><h2>About us </h2></a>
    <a href="CreateAccountpage"><h2>Create New Account</h2></a>
    <a href="index"><h2>Login</h2></a>
    </header>

    <div class="loginBox">
        <form th:action="@{/index}" method="post" >
            <div class="textbox">
            <label id="AccountNumber">Account Number :</label>
            <br>
            <input type="text" name="AccountNumber" maxlength="14" minlength="14" id="AccountNumber" placeholder="AccountNumber">

                <br>
            <br>
            <label id="SecurityCode">Security Code :</label>
            <br>
            <input type="password" name="SecurityCode" id="SecurityCode" minlength="6" maxlength="6" placeholder="6-digit PIN">
            </div>

            <div class="loginbutton">
            <button type="submit" >login</button>
            </div>
        </form>
    </div>
    

</body>
</html>