<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rtgs</title>
    <link rel="stylesheet" href="4.css">
    <script>
        function showError() {
            var message = document.querySelector('body').dataset.erroh;
            var check = "Ignoreit";
            if(message!=null){
            alert(message);
            console.log('message is printed');
            }
        }

        window.onload = showError;
    </script>
</head>
<body th:data-erroh="${erroh}" >
    <nav>
    
        <img src="images.png" alt="logo" >
        <h1>Sample Bank </h1>
        <h2 style="font-style: italic; text-decoration: underline overline;"> RTGS Transfer SAME BANK TO SAME BANK</h2>
        <h2><a href="index">Logout</a></h2>
        
    </nav>
    <div class="center">
    <form th:action="@{/Rtgs(AccountNumber=${AccountNumber})}" action="#" method="post" >


	
    <label for="OtherAccountNumber">Beneficiary Account Number </label>
    <br>
    <input type="text" name="OtherAccountNumber"  pattern="[0-9]{14}" maxlength="14" minlength="14" id="OtherAccountNumber" placeholder="Beneficiary Account Number">

    <br>
    <label for="Amount">Amount</label>
    <br>

    <input type="text"  name="Amount" id="Amount" placeholder="Amount">

    
    <button type="submit">Transfer Money </button>
</form>
    </form>
    </div>
</body>
</html>