<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChangeSecurityCode</title>
    <link rel="stylesheet" href="3.css">
</head>
<body>
    <nav>
    
        <img src="images.png" alt="logo" >
        <h1>Sample Bank </h1>
        <h2><a href="index">Logout</a></h2>
        
    </nav>

    <header>
        
        <h2><u>Change Your Details</h2>
    </header>
	
    <div>
        <form th:action="@{/UpdateDetailsPage}" action="#" method="post" th:object="${up}">
           <h2> <label for="Name"> Name</label></h2>
            <br>
            <input  type="text" th:field="*{Name}" name="Name" id="Name" placeholder="enter Name" pattern="[A-Za-z\s]+">   
            <br>
           <h2> <label for="PhoneNumber">Phone Number</label></h2>
            <br>
            <input type="text"  th:field="*{PhoneNumber}" name="PhoneNumber" id="PhoneNumber" placeholder="enter PhoneNumber" pattern="\d{10}">
            <br>
            <h2><label for="Address">Address</label></h2>
            <br>
            <textarea  name="Address" th:field="*{Address}" id="Address" cols="30" rows="2" placeholder="enter Address"></textarea>
            <br>
            <h2><label for="SecurityCode"> SecurityCode</label></h2>
            <br>
            <input  type="password" th:field="*{SecurityCode}" name="SecurityCode" id="SecurityCode" placeholder="enter SecurityCode" pattern="\d{6}">
            <br>
            <input type="hidden" th:field="*{AccountNumber}" name="AccountNumber" id="AccountNumber">
           	<input type="hidden" th:field="*{IFSC}" name="IFSC" id="IFSC">
           	<input type="hidden" th:field="*{id}" name="id" id="id">
           	
            <button type="submit">Change Details </button>

        </form>
    </div>

    
    <span class="footer">
        <span class="footer_section">
            <span class="image_container">
                <img src="WKC PIC SQUARE.jpg" alt="shreyas">
            </span>
            <span class="details">
              <a href="https://www.linkedin.com/in/shreyas-shanubag-626a66222" target="_blank">
                <img class="linkedin"src="linkedin.jpg" alt="linkedin">
                
              </a>
              
              <h3>SHREYAS SHANUBAG</h3>
            
              
            </span>

        </span>
        

        <span class="footer_section1">
            <span class="image_container1">
                <img src="sohan.jpg" alt="sohan">
            </span>
            <span class="details1">
                <a href="https://www.linkedin.com/in/sohan-kalburgi-225881277/" target="_blank">
                    <img class="linkedin1"src="linkedin.jpg" alt="linkedin">
                   
                  </a>
                  
                
                <h3 >SOHAN K.E</h3>
                  
                </span>

            </span>

        </span>

    
</body>
</html>